<!DOCTYPE html>
<html>
<head>
    <title>PlayCanvas glTF Viewer</title>
    <meta name="description" content="Fast and lightweight glTF 2.0 scene viewer powered by the PlayCanvas WebGL engine">
    <meta name="keywords" content="glTF, GLB, WebGL, PlayCanvas, Viewer">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <% if (htmlWebpackPlugin.options.hasPublicPath) { %>
    <link rel="icon" type="image/png" href="/viewer/static/playcanvas-logo.png" />
    <link rel="manifest" href="/viewer/static/manifest.json">
    <% if (htmlWebpackPlugin.options.analyticsID) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.analyticsID %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        if ('<%= htmlWebpackPlugin.options.oneTrustDeveloperId %>') {
            gtag('set', '<%= htmlWebpackPlugin.options.oneTrustDeveloperId %>', true); // OneTrust developer id
        }

        gtag('consent', 'default', {
            'analytics_storage': 'denied',
            'ad_storage': 'denied'
        });

        gtag('js', new Date());
        gtag('config', '<%= htmlWebpackPlugin.options.analyticsID %>');

        if (!window._optanonCallbacks) {
            window._optanonCallbacks = [];
        }

        _optanonCallbacks.push(function () {
            // if consent given for Performance cookies then
            // update gtag consent
            if (OnetrustActiveGroups.indexOf('C0002') != -1) {
                gtag('consent', 'update', { 'analytics_storage': 'granted' });
            }

            // if consent given for Targeting cookies then
            // update gtag consent
            if (OnetrustActiveGroups.indexOf('C0004') != -1) {
                gtag('consent', 'update', { 'ad_storage': 'granted' });
            }
        });
    </script>
    <% } %>
    <% } else { %>
    <link rel="icon" type="image/png" href="./static/playcanvas-logo.png" />
    <link rel="manifest" href="./static/manifest.json">
    <% } %>
</head>

<body>
    <div id='app'></div>
    <% if (htmlWebpackPlugin.options.hasPublicPath) { %>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="<%= htmlWebpackPlugin.options.oneTrustDomainKey %>" ></script>
    <script type="text/javascript">
        if (!window._optanonCallbacks) {
            window._optanonCallbacks = [];
        }

        function OptanonWrapper() {
            for (var i = 0; i < _optanonCallbacks.length; i++) {
                _optanonCallbacks[i]();
            }
        }
    </script>
    <% } %>
</body>
</html>
